*{
    border:0;
    /*border: 1px solid black;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}
/*///////////////////////////////////PERFIL/////////////////////////////////*/
body{
    background-color: #00314c;
}


header{
    width: calc(100vw - 17px);
    height: 200px;
    background-color: #002336;
    background-image: url(../img/banner_city.png);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
}
header a{
    color: white;
}
#ft_perfil{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
#ft_perfil i:hover{
    color: #bf6f0a;
    transition: 0.3s;
}
#ft_logo{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #ffffff;
}
#ft_logo img{
    width: 200px;
}
#config{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #ffffff;
}
#config  i:hover{
    color: #bf6f0a;
    transition: 0.3s;
}

.perfil-content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    min-height: 300px;
    color: #ffffff;
}

.perfil-background{
    display: flex;
    align-self: center;
    background-color: #bf6f0a;
    height: 250px;
    width: 85%;
    border-radius: 0px 0px 10px 10px;
}

.perfil-info-esquerda{
    display: flex;
    color: #ffffff;
    align-self: center;
    align-items: center;
    position: absolute;
    top: 420px;
    left: 180px;
    height: 190px;
}

.perfil-foto img{
    width: 180px;
    height: 180px;
    border: 2px solid white;
    border-radius: 100%;
    margin-right: 20px;
}

.user-name{
    font-size: 24px;
    margin-bottom: 10px;
}

.perfil-text{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.perfil-text p{
    margin-right: 15px;
}
.perfil-info-direita{
    align-self: center;
    display: flex;
    width: 85%;
    height: 150px;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-end;
}

.avaliacao{
    display: flex;
    width: 300px;
    height: 30px;
    background-color: #e6e6e6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;  
}

.avaliacao p{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}

.avaliacao i{
    width: 15px;
    height: 15px;
    color: #bdbdbd;
}

.botoes{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 120px;
}

.btn-seguir{
    background-color: #bf6f0a;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    margin: 10px 10px 0px 10px;
}

.btn-avaliar{
    background-color: #bf6f0a;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    margin: 10px 0px 0px 10px;
}

/*////////////////////////////////////BIO///////////////////////////////////*/

.biografia{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 50px;
}

.bio-top{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    min-height: 200px;
    background-color:#e6e6e6;
    margin-top: 50px;
    border-radius: 10px;
}

.bio-bot{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    min-height: 200px;
    background-color:#e6e6e6;
    margin-top: 50px;
    border-radius: 10px;
}
.biografia h1{
    font-size: 18px;
    margin-bottom: 10px;
}

.biografia p, li{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bio-bot i {
    color: #999999;
    margin: 5px;
}

/*/////////////////////////////////POSTAGENS////////////////////////////////*/

.align-bio-feed{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-bottom: 100px;
}

.content-bio-feed{
    display: flex;
    justify-content: center;
    width: 85%;
}

.feed-area{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 2%;
    background-color: #e6e6e6;
    width: 73%;
    border-radius: 10px;
}

.post-area{
    min-height: 140px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 8px;
}

.post-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    
}

.user-post-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.user-post-info-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-post-info-right i {
    color: #000;
    margin: 5px;
}

.post-user-perfil{
    display: flex;
    justify-content: center;
    align-items: center;

}

.miniuser-nick-post{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1;
}

.post-user-perfil img{
    height: 50px;
    width: 50px;
    margin-right: 6px;
    border: 2px solid white;
    border-radius: 100%;
}

.post-user-comment{
    display: flex;
    padding-left: 70px;
    font-size: 15px;

}

.post-media{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccfcff;
    min-height: 400px;
    width: 100%;
}

.post-media img{
    min-height: 200px;
    width: 100%;
}


.post-options{
    display: flex;
    flex: 2;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.post-options i {
    color: #000;
    margin: 5px;
}

.post-comment-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #e6e6e6;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.upvote{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #bdbdbd;
    padding: 5px; 
    
}

.downvote{
    display: flex;
    flex-direction: row;
    padding: 5px; 
}

.post-comments{
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 8px;
    
}

.post-comment{
    display: flex;
    height: 60px;
    padding: 6px;
    margin-bottom: 6px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    
    
}

.comment-left{
    display: flex;
    align-items: center;
}

.comment-right{
    display: flex;
    justify-content: center;
    margin: 4px;
    flex-direction: column;

}

.post-content-image{
    display: flex;
    justify-content: center;
    align-items: center;

}


.data-comment{
    display: flex;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    color: #bdbdbd;
}

.fa-thumbs-up{
    color: #00314c;
}

.fa-thumbs-down{
    color: #861501;
}

.post-content-image img{
    height: 40px;
    width: 40px;
    margin-right: 6px;
    border: 2px solid white;
    border-radius: 100%;
}

.miniuser-nick-comment{
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

